#characters {
  grid-area: content;
  width: 100%;

  .container-buttons {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
      width: 5rem;
      height: 2rem;
      border: none;
      background: #333;
      color: white;
      font-weight: 600;
      border-radius: 15px;
      cursor: pointer;
    }
  }

  .container-characters {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    text-align: center;

    .card {
      margin: 2rem auto;
      width: 20rem;
      height: auto;
      box-shadow: 5px 5px 5px 5px rgba($color: #000000, $alpha: 0.3);
      border-radius: 1rem;
    }

    .title-name {
      font-size: 1.5rem;
      margin: 0.5rem 0;
    }

    .image-character {
      box-sizing: content-box;

      img {
        width: 90%;
        height: 100%;
        border-radius: 1rem;
      }
    }

    .status {
      padding: 0.5rem 0;
      font-size: 1.2rem;

      .alive {
        color: green;
      }

      .dead {
        color: blue;
      }
    }

    .specie {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      margin-bottom: 0.5rem;

      p {
        font-size: 1.1rem;
        span {
          font-style: italic;
          font-size: 1rem;
        }
      }
    }

    .descripcion {
      width: 100%;

      .origin {
        p {
          font-size: 1.1rem;
          margin-bottom: 0.5rem;

          span {
            font-style: italic;
            font-size: 1rem;
          }
        }
      }
      .location {
        margin-bottom: 1rem;
        p {
          font-size: 1.1rem;

          span {
            font-style: italic;
          }
        }
      }
    }
  }
}
